/* Add your styles here */
/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic styles for the page layout */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7; /* Set a light background color */
}

header {
    background: linear-gradient(to bottom, #667db6, #0082c8); /* Update gradient colors */
    color: #fff;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Increase shadow depth */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; /* Curved bottom corners */
}

h1 {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 2rem;
}

main {
    padding: 2rem;
    text-align: center;
}

.registration-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; /* Light gray background */
    padding: 2rem;
    border-radius: 15px; /* Increase roundness */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Enhance shadow */
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #0056b3; /* Darker button color */
    border: none;
    color: #fff;
    padding: 1rem 2.5rem; /* Adjust button padding */
    font-size: 1.2rem; /* Increase font size */
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #003d7f;
}

footer {
    background: linear-gradient(to bottom, #667db6, #0082c8);
    color: #fff;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
